<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Triangle</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1> @Model.GetTriangleType() </h1>
    <p> side one is @Model.GetSide1() </p>
    <p> side two is @Model.GetSide2() </p>
    <p> side three is @Model.GetSide3() </p>
  </body>
</html>
